#sidebar{
    height: 100vh;
}

#search-box {
    opacity: 0;
    color: white;
    background-color: rgba(79, 79, 79, 0.69);
    animation: fade-in .5s ease-in forwards;
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
    }
}
  
