<div class="d-flex flex-column bg-dark pl-3" id="sidebar">
    
    <h1 class="text-white m-3">GifsApp</h1>

    <div>
            <div class="d-flex justify-content-between m-3">
                <h5 class="text-white">Search History</h5>
                <p class="btn btn-danger text-white font-weight-bold">CLEAR</p>
            </div>
    </div>
    

    <div class="align-self-start w-100 p-3 align-self-center">
        <div class="bg-primary rounded w-100 p-2 bg-secondary text-white font-italic"> A searched value</div>
    </div>
</div>