<div class="d-flex flex-column bg-dark pl-3" id="sidebar">
    
    <h1 class="text-white m-3">GifsApp</h1>

    <div>
            <div class="d-flex justify-content-between m-3">
                <h5 class="text-white">Search History</h5>
                <p class="btn btn-danger text-white font-weight-bold" (click)="clearHistory()">CLEAR</p>
            </div>
    </div>
    

    <div class="align-self-start w-75 align-self-center border-rounded">
        <div class="bg-light w-100 border-bottom border-dark p-2 font-italic" 
             *ngFor="let t of tags">
             {{ t }}
        </div>
    </div>
</div>